apiVersion: 1

contactPoints:
  - orgId: 1
    name: telegram
    receivers:
      - uid: telegram-notifier
        type: telegram
        settings:
          bottoken: "{{ observability_telegram_bot_token | default('') }}"
          chatid: "{{ observability_telegram_chat_id | default('') }}"
        disableResolveMessage: false

policies:
  - orgId: 1
    receiver: telegram
    group_by:
      - alertname
    group_wait: 10s
    group_interval: 10s
    repeat_interval: 4h
    matchers: []

templates: []
